# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# Uploads
uploads/*

# Static outputs
static/outputs/*

# Results
results/dataset/videos/*
results/dataset/txt/*
results/dataset/metrics/*
results/upload/videos/*
results/upload/txt/*
results/upload/metrics/*
results/webcam/videos/*
results/webcam/txt/*
results/webcam/metrics/*