# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# Temporary videos
*_temp.mp4

# Uploads
uploads/*
!uploads/.gitkeep

# Static output root
static/outputs/*
!static/outputs/.gitkeep
!static/outputs/dataset/
!static/outputs/upload/
!static/outputs/webcam/
!static/outputs/compare/

# Static output files
static/outputs/dataset/*
static/outputs/upload/*
static/outputs/webcam/*
static/outputs/compare/*

# Keep static output folders
!static/outputs/dataset/.gitkeep
!static/outputs/upload/.gitkeep
!static/outputs/webcam/.gitkeep
!static/outputs/compare/.gitkeep

# Results root
results/*
!results/.gitkeep
!results/dataset/
!results/upload/
!results/webcam/
!results/compare/

# Dataset results
results/dataset/*
!results/dataset/videos/
!results/dataset/txt/
!results/dataset/metrics/

results/dataset/videos/*
results/dataset/txt/*
results/dataset/metrics/*

!results/dataset/videos/.gitkeep
!results/dataset/txt/.gitkeep
!results/dataset/metrics/.gitkeep

# Upload results
results/upload/*
!results/upload/videos/
!results/upload/txt/
!results/upload/metrics/

results/upload/videos/*
results/upload/txt/*
results/upload/metrics/*

!results/upload/videos/.gitkeep
!results/upload/txt/.gitkeep
!results/upload/metrics/.gitkeep

# Webcam results
results/webcam/*
!results/webcam/videos/
!results/webcam/txt/
!results/webcam/metrics/

results/webcam/videos/*
results/webcam/txt/*
results/webcam/metrics/*

!results/webcam/videos/.gitkeep
!results/webcam/txt/.gitkeep
!results/webcam/metrics/.gitkeep

# Compare results
results/compare/*
!results/compare/videos/
!results/compare/txt/
!results/compare/metrics/

results/compare/videos/*
results/compare/txt/*
results/compare/metrics/*

!results/compare/videos/.gitkeep
!results/compare/txt/.gitkeep
!results/compare/metrics/.gitkeep
